.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 54vh;
  width: 35vw;
  margin: 0 auto;
}

.Form label {
  margin-bottom: 10px;
}

.Form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  font-size: 1rem;
}

.container-button {
    display: flex;
    justify-content: center;
}

.Form button {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Form button:hover {
  background-color: var(--color-primary);
}

.Form p {
  font-size: 1.2rem;
  color: var(--color-text);
}
