.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--navbar-background);
    color: var(--color-text);
  }
  
  .navbar a {
    text-decoration: none;
    color: inherit;
    padding: 0.5rem;
    transition: color 0.3s ease;
  }
  
  .navbar a:hover {
    color: var(--color-accent);
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar li {
    margin-right: 1rem;
  }
  