.Detail {
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: var(--color-papper);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
  }
  
  .Detail h1 {
    font-size: 3rem;
    margin: 50px;
    color: var(--color-primary);
  }
  
  .Detail p {
    font-size: 2rem;
    margin-bottom: 16px;
  }

  .NotFound {
    font-size: 2rem;
    margin: 200px auto;
    padding: 46px;
  }