:root {
  --color-primary: #1D3354;
  --color-secondary: #2D728F;
  --color-accent: #3B8EA5;
  --color-papper: #caeaf3;
  --color-background: #F8F7FF; 
  --color-text: #000000e5;
  --navbar-background: var(--color-secondary);
  --footer-background: var(--color-secondary);
  --navbar-hoover: var(--color-secondary);
  background-color: var(--color-background);

}

body .light {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body .dark {
  --color-background: #0F1020;
  --color-text: #ffffffe5;
  --color-papper: #44656f;
  background-color: var(--color-background);
  --navbar-background: var(--color-primary);
  --footer-background: var(--color-primary);
  --navbar-hoover: var(--color-primary);
}

body > main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

